<% content_for :breadcrumb do %>
  <li class="breadcrumb-item" aria-current="page">
    <%= link_to students_path do %>
      <i class="material-icons">school</i>
      <%= t "students.title" %>
    <% end %>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    <%= t("breadcrumb.new") %> 
  </li>
<% end %>

<% content_for :content do %>

  <div class="row">
    <div class="col col-md-8 col-lg-6 col-xl-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= t 'students.new' %></h4>
          <%= render 'form', course: @student %>
        </div>
      </div>
    </div>
  </div>

<% end %>


<%= render "layout" %>
