<div class="popconfirm">
  <div class="popconfirm-content">
  <%= form_for assistance do |f| %>
    <div class="popconfirm-message">
      <%= f.number_field :grade, in: 0..assistance.test.max, step: 1,
                                 placeholder: 'Grade', class: 'form-control' %>
      <%= f.hidden_field :test_id %>
      <%= f.hidden_field :enrollment_id %>
    </div>
    <div class="popconfirm-buttons">
      <%= link_to assistance.course, class: 'btn btn-sm btn-ant cls' do %>
        <i class="material-icons md-18">close</i>
      <% end %>
      <button type="submit" class="btn btn-primary btn-sm"><i class="material-icons md-18">save</i></button>
      <% if !assistance.nil? %>
      <%= link_to assistance, class: 'btn btn-danger btn-sm', method: :delete, 
                  data: { confirm: 'Are you sure?' } do %>
          <i class="material-icons md-18">delete</i>
        <% end %>
      <% end %>
    </div>
  <% end %>
  </div>
</div>