<% content_for :breadcrumb do %>
  <li class="breadcrumb-item active" aria-current="page">
    <i class="material-icons">school</i>
    <%= t "courses" %>
  </li>
<% end %>


<% content_for :content do %>

  <div class="container-fluid">

    <div class="row">
      <div class="col col-md-6 col-lg-4 col-xl-3">
        <%= link_to new_course_path, class: 'btn btn-ant btn-dashed course-new' do %>
          <i class="material-icons md-18">add</i> Nuevo Curso
        <% end %>
        
      </div>

      <% @courses.each do |course| %>
      <div class="col col-md-6 col-lg-4 col-xl-3">
      <div class="card hoverable">
        <div class="card-body">
          <h4 class="card-title">Course <%= course.year %></h4>
        </div>
        <div class="card-footer action-list">
            <%= link_to course, class: 'action' do %>
              <i class="material-icons md-18">search</i>
            <% end %>

            <%= link_to edit_course_path(course), class: 'action' do %>
              <i class="material-icons md-18">edit</i>
            <% end %>
            <%= link_to course, class: 'action', method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="material-icons md-18">delete</i>
            <% end %>
        </div>
      </div>
        
      </div>
        <% end %>

    </div>

  </div>
<% end %>
<%= render "layout" %>