
<% content_for :breadcrumb do %>
  <li class="breadcrumb-item" aria-current="page">
    <%= link_to courses_path do %>
      <i class="material-icons">school</i>
      <%= t "courses" %>
    <% end %>
  </li>
  <li class="breadcrumb-item active" aria-current="page">
    <%= @course.year %>
  </li>
<% end %>


<% content_for :content do %>
  <div class="card hoverable">
    <div class="card-body">
      <table class="table test-table table-bordered 
                    table-striped table-hover table-responsive">
        <thead>
          <tr>
            <th colspan="2">Alumno</th>
            <th rowspan="2" class="test">
              <span>20/09/2011</span>
              <h2>Unit Testing</h2>
              <test-entry>
                <span>Resultado</span>
                <grade>Nota</grade>
              </test-entry>
            </th>
            <th rowspan="2" class="test">
              <span>16/11/2011</span>
              <h2>Rails</h2>
              <test-entry>
                <span>Resultado</span>
                <grade>Nota</grade>
              </test-entry>
            </th>
          </tr>
          <tr>
            <th name="name">Nombre</th>
            <th name="legajo">Legajo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= Faker::Name.name %></td>
            <td>10905/4</td>
            <td class="test text-success">
              <test-entry>
                <span>Aprobado</span>
                <grade>9</grade>
              </test-entry>
            </td>
            <td class="test text-success">
              <test-entry>
                <span>Aprobado</span>
                <grade>14</grade>
              </test-entry>
            </td>
          </tr>
          <tr>
            <td><%= Faker::Name.name %></td>
            <td>10905/4</td>
            <td class="test text-danger">
              <test-entry>
                <span>Desaprobado</span>
                <grade>6</grade>
              </test-entry>
            </td>
            <td class="test text-success">
              <test-entry>
                <span>Aprobado</span>
                <grade>9</grade>
              </test-entry>
            </td>
          </tr>
          <tr>
            <td><%= Faker::Name.name %></td>
            <td>10905/4</td>
            <td class="test text-success">
              <test-entry>
                <span>Aprobado</span>
                <grade>9</grade>
              </test-entry>
            </td>
            <td class="test text-info">
              Presente
            </td>
          </tr>
          <tr>
            <td><%= Faker::Name.name %></td>
            <td>10905/4</td>
            <td class="test text-warning">
              Ausente
            </td>
            <td class="test text-warning">
              Ausente
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="2">Porcentaje Aprobado</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th colspan="2">Porcentaje Rendido</th>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th colspan="2">Nota de Aprobación</th>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
<% end %>


<%= render "layout" %>