<%= simple_form_for(@test) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :course %>
    <%= f.input :date %>
    <%= f.input :title %>
    <%= f.input :base_grade %>
    <%= f.input :upper_grade %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
