<% content_for :breadcrumb do %>
<li class="breadcrumb-item" aria-current="page">
  <%= link_to courses_path do %>
    <i class="material-icons">school</i>
    <%= t 'courses.title' %>
  <% end %>
</li>
<li class="breadcrumb-item" aria-current="page">
  <%= link_to @course do %>
    <%= @course.year %> <%= @course.human %>
  <% end %>
</li>
<li class="breadcrumb-item" aria-current="page">
  <%= t("breadcrumb.tests") %> 
</li>
<li class="breadcrumb-item active" aria-current="page">
  <%= @test.title %> 
</li>
<% end %>

<% content_for :content do %>

<div class="row">
  <div class="col col-lg-10 col-xl-8">
    <div class="card">
      <div class="card-body">
        <%= render 'form', test: @test, url: course_test_path %>
      </div>
    </div>
  </div>
</div>

<% end %>


<%= render "courses/layout" %>

