<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @test.course %>
</p>

<p>
  <strong>Date:</strong>
  <%= @test.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Base grade:</strong>
  <%= @test.base_grade %>
</p>

<p>
  <strong>Upper grade:</strong>
  <%= @test.upper_grade %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
