<!DOCTYPE html>
<html>

<head>
  <title>Gakkou</title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <layout row>
    <aside class="sidebar">
      <a class="brand" href="#/">
        <img class="icon" src="https://png.icons8.com/color/540/classroom.png" alt="logo">
        <h1>Gakkou</h1>
      </a>
      <ul class="menu" role="menu">
        <li class="menu-item">
          <%= link_to courses_path do %>
            <i class="material-icons">school</i>
            <span>Courses</span>
          <% end %>
        </li>
        <li class="menu-item">
          <%= link_to students_path do %>
            <i class="material-icons">contacts</i>
            <span><%= t 'students.title' %></span>
          <% end %>
        </li>
      </ul>
    </aside>
    <layout>
      <header>
        <nav class="navbar navbar-expand navbar-light bg-light">
          <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <%= current_user.email %>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to 'Logout', destroy_user_session_path, class: 'dropdown-item', method: :delete %>
              </div>
            </li>
            <% end %>
          </ul>
        </nav>
      </header>
      <layout class="content">
        <%= yield %>
      </layout>
    </layout>
  </layout>

  <div class="message"> 
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
      <div class="notice">
        <div class="content <%= name.to_s == 'notice' ? 'success' : 'danger' %>"
             role="alert">
        <i class="material-icons">
          <%= name.to_s == 'notice' ? 'check_circle' : 'error' %>
        </i>
        <%= msg %>
      </div>
    </div>
    <% end %>
  <% end %>
  </div>
</body>

</html>